<!-- Modal #exampleModal, caricato tramite xLuIncludeFile (se lo usi) -->


<!-- Modal statica #mapModal per la mappa Leaflet -->
<div class="modal fade" id="mapModal" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered map-modal-dialog" role="document">
  <div class="modal-content map-modal-content">
	
	<!-- Header -->
	<div class="map-modal-header">
	  <h4>Add a location...</h4>
	  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	</div>
	
	<!-- Body -->
	<div class="map-modal-body">
	  <!-- (Il campo di ricerca separato è stato rimosso in favore del controllo integrato) -->
	  <!-- Contenitore della mappa -->
	  <div id="map" style="height: 300px;"></div>
	</div>
	
  </div>
</div>
</div>