<!-- Send Invitation Modal -->
<div class="send-invitation-modal">
    <!-- Header -->
    <header class="si-header">
      <h2>Send Invitation…</h2>
    </header>
  
    <!-- Body -->
    <div class="si-body">
      <!-- Input + Send -->
      <div class="si-input-row">
        <form (submit)="addAttendee()" [formGroup]="form">
            <input
            type="email"
            class="si-email-input"
            formControlName="email"
            placeholder="Enter their email"
            />
            <button type="submit" class="si-send-btn">
            Send <span class="si-send-icon">✈️</span>
            </button>
        </form>
      </div>
  
      <hr class="si-divider" />
  
      <!-- Already invited -->
      <div class="si-already">
        <h3>Already invited</h3>
        <!-- <input type="text" class="si-search" placeholder="Search" /> -->
        <ul class="si-invited-list">
            @for (attendee of attendees; track attendee.id) {
                <li class="si-invited-item">
                    <span class="si-person-icon">👤</span>
                    <span class="si-person-name">{{getUserName(attendee)}}</span>
                    <button class="si-remove-btn" aria-label="Remove invitation" (click)="deleteAttendee(attendee.id)">✕</button>
                </li>
            } @empty {
                <p>No guests yet</p>
            }
        </ul>
      </div>
    </div>
    <div class="modal-footer">
        <button type="reset" class="invitation-send" (click)="closeModal()"  >Close</button>
    </div>
  </div>
  