/*
*  01 - GENERIC STYLES
*/
:root {
  --primary: #D9D9D9;
  --secondary: #949090;
  --tertiary: #666666;
  --text-primary: #111111;
  --text-secondary: #ffffff;
  color: var(--text-primary);
  --bs-primary: var(--primary);
  --bs-secondary: var(--secondary);
  --bs-success: var();
  --bs-info: var();
  --bs-warning: var();
  --bs-danger: var();
  --bs-light: var();
  --bs-dark: var();

  --bs-btn-hover-bg: var(--secondary);
  --bs-btn-hover-border-color: var(--secondary);
  --bs-btn-active-bg: var(--tertiary);
  --bs-btn-active-border-color: var(--tertiary);
  --bs-btn-focus-shadow-rgb: var(--primary);

  

  --bs-nav-pills-link-active-bg: var(--secondary) !important;
}

.btn {
  padding: .5rem 3rem;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--text-primary);
}

.btn-primary:hover {
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.btn:active {
  background-color: var(--tertiary);
  border-color: var(--tertiary);
}

.badge {
  width: fit-content;
  padding: .5rem .75rem;
  --bs-badge-border-radius: 999px;
  --bs-badge-color: var(--text-secondary);
  background-color: var(--secondary);
}


/*
*  01 - BASE LAYOUT
*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main_header {
    width: auto;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    background-color: var(--primary);
}

#logo_img {
  height: auto;
  width: 100%;
}

#logo {
  width: 100px
}

#header_nav {
  width: auto;
  text-align: right;
}


main {
  width: auto;
  min-height: 100vh;
}

#main_footer {
  width: auto;
  height: 70px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: var(--tertiary);
  color: var(--text-secondary);
}

/*
*  03 - AUTH
*/
#auth {
  height: 100%;
}

#sign-in {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid var(--primary);
}

#sign-up {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-left: 1px solid var(--primary);
}

#auth .input-field {
  margin: 1rem;
  text-align: left;
}


/*
*  04 - HOME
*/
#filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
}

#event_date_filter {
  width: auto;
}

.tempus-dominus-widget {
  width: auto !important;
  background-color: var(--primary) !important;
  border-radius: 12px !important;
}

.event-card {
  width: 200px;
  height: 200px;
  background-color: var(--primary);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 1rem;
}
.event-card img {
  width: 50px;
  height: 50px;
  opacity: 0.5;
}
.event-title {
  font-size: 1.5em;
  font-weight: bold;
  position: absolute;
  top: 40%;
}
.event-timer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9em;
}

/*
*  05 - EVENT
*/
#event_tabs {
  padding: 1.5rem 0;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-pills {
  --bs-nav-pills-link-active-bg: var(--secondary);
  --bs-nav-pills-link-active-color: var(--text-secondary);
  --bs-nav-pills-link-color: var(--text-primary);
}

.nav-item {
  flex: 1;
}

.nav-pills .nav-link {
  --bs-nav-link-color: var(--text-primary);
  width: 100%;
  border-radius: 0;
}

.nav-pills .nav-link:hover {
  --bs-nav-link-hover-color: var(--text-primary);
}

.tab-content > *[role=tabpanel]{
  display: none;
}

.tab-content > *[role=tabpanel].active {
  display: flex;
  flex-direction: row;
}

.event-info {
  min-width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  float: right;
  margin: 0 2rem;
}

.event-info-card {
  min-width: 250px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 1rem;
  padding: 1rem;
  background-color: var(--primary);
  border-radius: 8px;
}

/*
*  05.01 - EVENT: Description
*/
#agenda_content {
  flex: 1;
}

/*
*  05.02 - EVENT: Agenda
*/
#agenda_content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.activity-card {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

/*
*  05.02 - EVENT: Attendees
*/

/*
*  05.02 - EVENT: News
*/
#news_content {
  flex: 1;
}