<div class="acc-profile-container">
    <section class="acc-profile-section">
        <span class="acc-profile-label">YOUR PROFILE PICTURE</span>
        <div class="acc-profile-pic">
            <img src="placeholder.png" alt="Profile Picture">
            <input type="file">
        </div>
    </section>
    <section class="acc-profile-section">
        <span class="acc-profile-label">YOUR NAME</span>
        <div class="acc-profile-info">
            <span>UserName</span>
            <span class="acc-edit-icon">✏️</span>
        </div>
    </section>
    <section class="acc-profile-section">
        <span class="acc-profile-label">YOUR E-MAIL ADDRESS</span>
        <div class="acc-profile-info">
            <span>user.name@random.com</span>
            <span class="acc-edit-icon">✏️</span>
        </div>
    </section>
    <section class="acc-reset-container">
        <h4>RESET PASSWORD</h4>
        <div class="acc-input-group">
            <label class="acc-label" for="confirm-password">NEW PASSWORD</label>
            <input class="acc-input" type="password" id="confirm-password" placeholder="Enter your password">
        </div>
        <div class="acc-input-group">
            <label class="acc-label" for="new-password">CONFIRM PASSWORD</label>
            <input class="acc-input" type="password" id="new-password" placeholder="Enter your password">
        </div>
    </section>
    <div class="acc-save-button-container"><button class="acc-save-button">Save</button></div>
</div>