<div class="register-container">
  <form class="forms" #registerForm="ngForm" (ngSubmit)="onSubmitRegister()" style="height: 100%;">
    <h1>Create Account</h1>
    <p>Join us, it's free!</p>
    <input type="text" name="username" [(ngModel)]="username" placeholder="Username" required />
    <input type="email" name="email" [(ngModel)]="email" #emailModel="ngModel"  placeholder="E-mail" required email />
    <div *ngIf="emailModel.invalid && emailModel.touched" class="error-message">
      Insert a valid email.
    </div>
        <input type="password" name="password" [(ngModel)]="password" placeholder="Password" required />
    <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" placeholder="Confirm Password" required />
    <div class="error-message" *ngIf="errorMessageRegister">{{ errorMessageRegister }}</div>
    <button type="submit" [disabled]="!registerForm.valid">Sign Up</button>
  </form>
</div>
