<section class="invitation-section">
    <!-- Top Controls -->
     @if(hostView){
      <div class="invitation-controls">
        <button class="btn" (click)="openEditModal({modal_name:'manage-invite'})">Manage Invitations</button>
        <!--button class="btn">Customize Invitations</button-->
      </div>
    } @else {
      <div class="dropdown">
        <p class="dropdown-title">Your invitation Status:</p>
        @if(currentAttendee?.status === "pending"){
          <button class="dropdown-button">
            Pending
          </button>
          <div class="dropdown-content">
              <a (click)="updateCurrentAttendee({status:'coming'})">Coming</a>
              <a (click)="updateCurrentAttendee({status:'maybe'})">Maybe</a>
              <a (click)="updateCurrentAttendee({status:'cant'})">Can't</a>
          </div>
        }
        @if(currentAttendee?.status === "coming"){
          <button class="dropdown-button">
            Coming
          </button>
          <div class="dropdown-content">
              <a (click)="updateCurrentAttendee({status:'maybe'})">Maybe</a>
              <a (click)="updateCurrentAttendee({status:'cant'})">Can't</a>
          </div>
        }
        @if(currentAttendee?.status === "cant"){
          <button class="dropdown-button">
            Can't
          </button>
          <div class="dropdown-content">
              <a (click)="updateCurrentAttendee({status:'coming'})">Coming</a>
              <a (click)="updateCurrentAttendee({status:'maybe'})">Maybe</a>
          </div>
        }
        @if(currentAttendee?.status === "maybe"){
          <button class="dropdown-button">
            Maybe
          </button>
          <div class="dropdown-content">
              <a (click)="updateCurrentAttendee({status:'coming'})">Coming</a>
              <a (click)="updateCurrentAttendee({status:'cant'})">Can't</a>
          </div>
        }
    </div>
    }
    
  
    <!-- Status Columns -->
    <div id="attendees_list" class="status-grid">
      <article class="status-card">
        <div class="status-header">Coming</div>
        <div class="person-list">
          @for (attendee of attendees(); track attendee.id) {
            @if (attendee.status === "coming"){
              <div class="person">
                <i class="fa fa-user"></i>
                <span>👤 {{getUserName(attendee)}}</span>
              </div>
            }
          }
          
        </div>
      </article>
  
      <article class="status-card">
        <div class="status-header">Maybe</div>
        <div class="person-list">
          @for (attendee of attendees(); track attendee.id) {
            @if (attendee.status === "maybe"){
              <div class="person">
                <i class="fa fa-user"></i>
                <span>👤 {{getUserName(attendee)}}</span>
              </div>
            }
          }
        </div>
      </article>
  
      <article class="status-card">
        <div class="status-header">Can't</div>
        <div class="person-list">
          @for (attendee of attendees(); track attendee.id) {
            @if (attendee.status === "cant"){
              <div class="person">
                <i class="fa fa-user"></i>
                <span>👤 {{getUserName(attendee)}}</span>
              </div>
            }
          }
        </div>
      </article>
  
      <article class="status-card">
        <div class="status-header">Pending</div>
        <div class="person-list">
          @for (attendee of attendees(); track attendee.id) {
            @if (attendee.status === "pending"){
              <div class="person">
                <i class="fa fa-user"></i>
                <span>👤 {{getUserName(attendee)}}</span>
              </div>
            }
          }
        </div>
      </article>
    </div>
  </section>
  