<section id="user_invitation" style="display: flex; justify-content: center;">
    <div class="dropdown" style="display: flex; justify-content: center; flex-direction: column; margin-top: 1rem;">
        <p style="width: auto;">Your invitation Status:</p>
        <button class="dropdown-button">Pending</button>
        <div class="dropdown-content">
            <a href="#">Coming</a>
            <a href="#">Maybe</a>
            <a href="#">Can't</a>
        </div>
    </div>
</section>
<section id="attendees_list" class="row">
    <article class="status-card" style="padding-left: 0; padding-right: 0;">
        <div id="coming" class="status-header">Coming</div>
        <div class="person-list">
            <div class="person" xlu-include-file="components/event/attendee_card.html"></div>
            <div class="person" xlu-include-file="components/event/attendee_card.html"></div>
            <div class="person" xlu-include-file="components/event/attendee_card.html"></div>
        </div>
    </article>

    <article class="status-card" style="padding-left: 0; padding-right: 0;">
        <div id="maybe" class="status-header">Maybe</div>
        <div class="person-list">
            <div class="person" xlu-include-file="components/event/attendee_card.html"></div>
        </div>
    </article>

    <article class="status-card" style="padding-left: 0; padding-right: 0;">
        <div id="cant" class="status-header">Can't</div>
        <div class="person-list">
            <div class="person" xlu-include-file="components/event/attendee_card.html"></div>
            <div class="person" xlu-include-file="components/event/attendee_card.html"></div>
        </div>
    </article>

    <article class="status-card" style="padding-left: 0; padding-right: 0;">
        <div id="pending" class="status-header">Pending</div>
        <div class="person-list">
            <div class="person" xlu-include-file="components/event/attendee_card.html"></div>
            <div class="person" xlu-include-file="components/event/attendee_card.html"></div>
        </div>
    </article>
</section>