<div class="edit_footer" role="edit_btn" aria-labelledby="description-tab">
    <button class="btn host-tool {{host}}">Add News</button>
</div>
<section id="news_content">
    <!--article class="news-card" data-news-title="New #1" xlu-include-file="components/event/news_card.html"></article-->
    <!--article class="news-card" data-news-title="New #2" xlu-include-file="components/event/news_card.html"></article-->
</section>
<!--aside class="event-info" xlu-include-file="components/event/event_info_card.html"></aside-->