
      <div class="modal-header">
        <h4>Add Date &amp; Time</h4>
      </div>
  
      <form [formGroup]="form" (ngSubmit)="saveChanges()">
        <div class="modal-body">
          <!-- single time input -->
          <div class="time-row">
            <div class="time-field">
              <label for="timePicker">Time</label>
              <input
                type="time"
                id="timePicker"
                class="form-control"
                formControlName="time"
                step="60"
                min="00:00"
                max="23:59"
              />
            </div>
          </div>
  
          <!-- single date input -->
          <div class="date-field">
            <label for="datePicker">Date</label>
            <input
              type="date"
              id="datePicker"
              class="form-control"
              formControlName="date"
              min="{{ minDate }}"
              max="{{ maxDate }}"
            />
          </div>
        </div>
  
        <div class="modal-footer">
          <button type="submit" class="invitation-send" [disabled]="form.invalid">
            Save
          </button>
          <button type="button" class="invitation-send" (click)="cancelChanges()">
            Cancel
          </button>
        </div>
      </form>
  