@if(hostView){
  <div class="edit_footer" role="edit_btn" aria-labelledby="agenda-tab">
    <ion-button class="add-activity" (click)="addNewsitem({modal_name:'newscard', id:'-1'})">
      Add News
    </ion-button>
  </div>
}

@for (new of news(); track new.id){
  <ion-card class="news-card">
    <div class="news-card__header">
      <div class="news-card__title">
        <h4>{{ new.title }}</h4>
      </div>

      @if(hostView){
        <div class="news-card__ops">
          <ion-button size="small" class="add-activity" (click)="openEditModal({modal_name:'newscard', id:new.id.toString()})">
            Edit <i class="fa fa-pencil"></i>
          </ion-button>
          <ion-button color="danger"  size="small" class="add-activity" (click)="onDeletePress(new.id.toString())">
            Delete <i class="fa fa-trash"></i>
          </ion-button>
        </div>
      }
    </div>

    <div class="news-card__body">
      <ion-text>
        <p>{{ new.description }}</p>
      </ion-text>
    </div>
  </ion-card>
}
