<section id="event_container" class="row container-fluid">
    <section id="event_picker" class="container col">
      <form action="" class="container-fluid row-md-12">
        <div class="input-field mt-5 col-md-12">
          <input type="text" id="search" placeholder="Search" class="form-control">
        </div>
        <div> <button class="btn btn-primary mt-3">Create New Event</button> </div>
        <!-- EVENT CARDS -->
        <div> 
            <button class="btn btn-primary mt-3">Event 1</button> 
            <button class="btn btn-primary mt-3">Event 2</button> 
        </div>
      </form>
    </section>
    <section id="filters" class="container col">
        <div class="calendar" id="datetimepicker1"></div>
    </section>
</section>