<form action="" class="container-fluid row-md-12">
  <div class="input-field mt-5 col-md-12">
    <input type="text" id="search" placeholder="Search" class="form-control">
  </div>
  <div> <button class="btn btn-primary mt-3">Create New Event</button> </div>
  <!-- EVENT CARDS -->
  <div class="row"> 
    <article class="event-card" data-event-title="Event #1" data-event-timer="00:00:00" xlu-include-file="components/home/event_card.html"></article>
    <article class="event-card" data-event-title="Event #2" data-event-timer="00:00:00" xlu-include-file="components/home/event_card.html"></article>
  </div>
</form>