<form action="" class="container-fluid row-md-12">
  <div class="input-field mt-5 col-md-12">
    <input type="text" id="search" placeholder="Search" class="form-control">
  </div>
  <div> <button class="btn btn-primary mt-3">Create New Event</button> </div>
  <!-- EVENT CARDS -->
  <div class="row"> 
    <article class="event-card">
      <img src="placeholder.png" alt="Event Image Placeholder">
      <div class="event-title">Event #1</div>
      <div class="event-timer">00:00:00</div>
    </article>
    <article class="event-card">
      <img src="placeholder.png" alt="Event Image Placeholder">
      <div class="event-title">Event #2</div>
      <div class="event-timer">00:00:00</div>
    </article>
  </div>
</form>