<!-- Header -->
<div class="modal-header">
  <h4>Add Date &amp; Time</h4>
</div>

<!-- Body -->
<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="saveChanges()">
    <div class="dateTimeModal-body">
      <ion-label>Date &amp; Time</ion-label>
      <ion-datetime
        formControlName="datetime"
        presentation="date-time"
        [min]="minDate"
        [max]="maxDate"
        hour-cycle="h23">
      </ion-datetime>
    </div>

    <!-- Footer -->
    <div class="modal-footer">
      <ion-button type="submit" [disabled]="form.invalid" class="invitation-send">
        Save
      </ion-button>
      <ion-button type="button" fill="outline" (click)="cancelChanges()" class="invitation-send">
        Cancel
      </ion-button>
    </div>
  </form>
</div>
