  <!-- Top Header -->
   @if(!isLoginPage){
    <ion-header class="top-bar" translucent>
      <ion-toolbar color="var(--primary)">
        <ion-buttons slot="start">
          <ion-button [routerLink]="['/home']">
            <img src="assets/logo_white.svg" alt="EventHub Logo" class="logo" />
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end" class="top-nav">
          <!-- <ion-button class="nav-btn">Notifications</ion-button>
          <ion-button class="nav-btn">My Account</ion-button> -->
          <ion-button class="nav-btn sign-out" (click)="signout()">Sign Out</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  }

<ion-app>
  <ion-router-outlet></ion-router-outlet>
   <ngx-sonner-toaster />
</ion-app>
