<!-- Header -->
<div class="modal-header">
  <h4>Change Event Location</h4>
</div>

<!-- Body -->
<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="saveChanges()">
    <ion-input
      class="invitation-input"
      formControlName="location"
      fill="outline"
      placeholder="Enter a location">
    </ion-input>

    <!-- Footer -->
    <div class="modal-footer">
      <ion-button type="submit" [disabled]="form.invalid">
        Save
      </ion-button>
      <ion-button type="reset" fill="outline" (click)="cancelChanges()">
        Cancel
      </ion-button>
    </div>
  </form>
</div>
