<!-- header -->
<div class="modal-header">
    <h4>Change Event Location</h4>
    </div>

    <!-- body -->
    <div class="modal-body">
    <form [formGroup]="form" (submit)="saveChanges()">
        <input
        class="invitation-input"
        formControlName="location"
        value="{{event().location}}"
        />
        <!-- footer -->
    <div class="modal-footer">
        <button type="submit" class="invitation-send">Save</button>
        <button type="reset" class="invitation-send" (click)="cancelChanges()" >Cancel</button>
    </div>
    </form>
</div>