
<section id="auth" class="row container-fluid">
  <section id="sign-in" class="container col">
    <button class="btn btn-primary">Sign in</button>
  </section>
  <section id="sign-up" class="container col">
    <form action="" class="container-fluid">
      <div class="input-field">
        <label for="name" class="form-label">Your Name</label>
        <input type="text" id="name" placeholder="Enter your name" class="form-control">
      </div>

      <div class="input-field">
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" placeholder="Enter your password" class="form-control">
      </div>

      <div class="input-field">
        <label for="confirm-password" class="form-label">Confirm Password</label>
        <input type="password" id="confirm-password" placeholder="Enter your password" class="form-control">
      </div>
      
      <button class="btn btn-primary">Sign Up</button>
    </form>
    <aside>
      <p style="text-align: center;">Or</p>
      <button class="google-btn">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" width="20"> Sign up with Google
      </button>
    </aside>
  </section>
</section>
