<!-- header -->
<div class="modal-header">
    <h4>Edit Activity</h4>
    </div>

    <!-- body -->
    <div class="modal-body">
    <form [formGroup]="form" (submit)="saveChanges()">
        <input
        class="invitation-input"
        formControlName="activity_name"
        />

          
                <div class="dateTimeModal-body">
                  <!-- single time input -->
                  <div class="time-row">
                    <div class="time-field">
                      <label for="timePicker">Start Time</label>
                      <input
                        type="time"
                        id="timePicker"
                        class="form-control"
                        formControlName="start_time"
                        step="60"
                        min="00:00"
                        max="23:59"
                      />
                    </div>
                  </div>

                  <div class="time-row">
                    <div class="time-field">
                      <label for="timePicker">End Time</label>
                      <input
                        type="time"
                        id="timePicker"
                        class="form-control"
                        formControlName="end_time"
                        step="60"
                        min="00:00"
                        max="23:59"
                      />
                    </div>
                  </div>
          
                </div>
          
          

        <!-- footer -->
    <div class="modal-footer">
        <button type="submit" class="invitation-send">Save</button>
        <button type="reset" class="invitation-send" (click)="cancelChanges()" >Cancel</button>
    </div>
    </form>
    </div>