<header class="top-bar">
  <img 
  src="assets/logo_white.svg" alt="EventHub Logo" class="logo" />
  <nav class="top-nav">
    <button class="nav-btn">Notifications</button>
    <button class="nav-btn">My Account</button>
    <button class="nav-btn sign-out">Sign Out</button>
  </nav>
</header>


<div class="search-bar">
  <input
    type="text"
    [(ngModel)]="searchText"
    placeholder="Search events..."
    class="form-control"
  />
</div>

<div class="container mt-4">
  <div class="row">
    <div
      class="col-md-4"
      *ngFor="let event of filteredEvents"
      (click)="goToEvent(event.id)"
    >
      <div
        class="event-card p-4 mb-4 rounded text-white"
        [ngStyle]="{
          'background-image': 'url(' + event.image + ')',
          'background-size': 'cover',
          'background-position': 'center'
        }"
      >
        <h3>{{ event.title }}</h3>
        <p>{{ getCountdown(event.datetime) }}</p>
      </div>
    </div>
  </div>
</div>
