<div class="container mt-4">
    <div class="row">
      <div
        class="col-md-4"
        *ngFor="let event of events()"
        (click)="goToEvent(event.id)"
        style="cursor: pointer;"
      >
        <div
          class="event-card p-4 mb-4 rounded text-white"
          [ngStyle]="{
            'background-image': 'url(' + event.image + ')',
            'background-size': 'cover',
            'background-position': 'center',
            'background-repeat': 'no-repeat'
          }"
        >
          <h3>{{ event.title }}</h3>
          <p>{{ getCountdown(event.datetime) }}</p>
        </div>
      </div>
    </div>
  </div>
  