<!-- header -->
<div class="modal-header">
  <h4>Edit Activity</h4>
</div>

<!-- body -->
<div class="modal-body">
  <form [formGroup]="form" (submit)="saveChanges()">
    <ion-input
      class="invitation-input"
      formControlName="activity_name"
      fill="outline">
    </ion-input>

              <div class="dateTimeModal-body">
                  <!-- single time input -->
                  <div class="time-row">
                    <div class="time-field">
                      <label for="timePicker">Start Time</label>
                      <input
                        type="time"
                        id="timePicker"
                        class="form-control"
                        formControlName="start_time"
                        step="60"
                        min="00:00"
                        max="23:59"
                      />
                    </div>
                  </div>

                  <div class="time-row">
                    <div class="time-field">
                      <label for="timePicker">End Time</label>
                      <input
                        type="time"
                        id="timePicker"
                        class="form-control"
                        formControlName="end_time"
                        step="60"
                        min="00:00"
                        max="23:59"
                      />
                    </div>
                  </div>
          
                </div>

    <!-- footer -->
    <div class="modal-footer">
      <ion-button type="submit" expand="block" color="primary">
        Save
      </ion-button>
      <ion-button type="reset" expand="block" fill="outline" (click)="cancelChanges()">
        Cancel
      </ion-button>
    </div>
  </form>
</div>
